@model IEnumerable<AniLiteWebSite.Models.ProductSimple>

@{
    ViewBag.Title = "База данных";
}

<h2>@ViewBag.Title</h2>


<div class="row">
    <div class="col-md-2">
        Фильтры базы:
    </div>
    <div class="col-md-2">

    </div>
</div>
<hr />
<table class="table table-striped">
    <tr>
        <td>Название</td>
        <td style="min-width:160px;" class="table-td-middle">Инструменты</td>
    </tr>
    @foreach (var item in @Model)
    {
        <tr class="LongViewHelper-@item.id">
            @Html.Action("LongView", "Helper", new { Id = item.id })
        </tr>
    }
</table>